# Node
node_modules
package-lock.json
bun.lockb
npm-debug.log*
package-lock.json


# Environment
.env*
!.env.example
.env
.env.local
.env*.local

# Logs
logs/
*.log

# System
.DS_Store
.idea/
logs/
*.log

# Build
dist/
build/
.cache/

# Ignore specific folders
.continue/
.vscode/

# Ignore node_modules in all directories
**/node_modules/


# SpecStory explanation file
.specstory/.what-is-this.md
